<h1>Welcome to your dashboard</h1>

 <li><%= link_to "ItemTypes" , :item_types    %></li>
 <li><%= link_to "Items", :items    %></li>
 <li><%= link_to "Command", :command    %></li>

<p></p>
<p>Item Type count: <%= @item_type_count %></p> 

